* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=php
*.md diff=markdown
*.php diff=php
*.js linguist-detectable=false
*.scss linguist-detectable=false

/.github export-ignore
CHANGELOG.md export-ignore
